@import '/css/normalize.css';

:root {
	--color-Grey: #d9d9d9;
	--color-Black: #151515;
	--color-Dark-Grey: #242424;
	--color-white: hsl(0, 0%, 100%);
	--color-Green: #4ee1a0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: var(--color-white);
	background-color: var(--color-Black);
	font-weight: 500;
}

h1 {
	font-size: 8.8rem;
	line-height: 8.8rem;
	letter-spacing: -2.5px;
	font-weight: 700;
}

h2 {
	font-size: 4.8rem;
	line-height: 5.6rem;
	letter-spacing: -1.5px;
	font-weight: 700;
}

h3 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: -1.5px;
	font-weight: 700;
}

/* Generic Container */
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 3rem;
}

.container-dark-grey {
	background-color: var(--color-Dark-Grey);
}
@media screen and (min-width: 1440px) {
	.container {
		margin: 0 auto;
		max-width: 1100px;
	}
}

/* Generic Grid */
.grid {
	display: grid;
}

/* Navbar */

.navbar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35rem;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.navbar-container {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	.navbar-logo h3 {
		font-size: 3.2rem;
	}
}

.navbar__links {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.icon {
	width: 2.5rem;
	height: 2.5rem;
}

.icon-container {
	background-color: var(--color-Dark-Grey);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.icon {
	transition: transform 0.3s ease-out;
}

.icon:hover {
	transform: scale(1.3) rotate(-30deg);
	transition: transform 0.4s ease-in;
	cursor: pointer;
}

/* IMAGE */
.photo-container {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	min-width: 15rem;
	min-height: 38rem;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

@media (min-width: 768px) {
	.photo-container img {
		max-height: 600px;
		margin-top: 0;
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media (min-width: 1440px) {
	.photo-container {
		margin-top: 0;
		position: absolute;
		top: 0;
		right: 6rem;
		max-width: 1100px;
	}
}

/* HERO CARD */
.card {
	margin-top: 65rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	padding-bottom: 8rem;
}

.card-title h1 {
	margin-top: 1rem;
	font-size: 4rem;
	line-height: 4rem;
	letter-spacing: -1.14px;
}
.card-welcome {
	color: #fff;
	font-size: 4rem;
	margin-bottom: 2.4rem;
	line-height: 4rem;
	letter-spacing: -1.14px;
	font-weight: 700;
}

.card-name {
	text-decoration: underline;
	text-decoration-color: var(--color-Green);
	text-decoration-thickness: 4px;
	text-underline-offset: 10px;
}

.card-description {
	padding-top: 2rem;
	color: var(--color-Grey);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.6rem;
}

.card-button {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	border-bottom: 2px solid var(--color-Green);
	padding: 1.3rem 0 1.3rem 0;
	white-space: nowrap;
	font-weight: 700;
}

.card-button a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.6rem;
	letter-spacing: 2.29px;
	line-height: 2.6rem;
}

.card-button a:hover {
	cursor: pointer;
	color: var(--color-Green);
}

@media (min-width: 768px) {
	.card {
		margin-top: 0;
		align-items: flex-start;
		text-align: left;
		max-width: 65rem;
		min-height: 600px;
	}

	.card-title h1 {
		font-size: 7.2rem;
		line-height: 7.2rem;
		letter-spacing: -2.05px;
	}

	.card-description {
		width: 44rem;
	}
}

@media (min-width: 1440px) {
	.card {
		max-width: 70rem;
	}

	.card-description {
		width: 44rem;
	}

	.card-title h1 {
		font-size: 8.8rem;
		line-height: 8.8rem;
		letter-spacing: -2.5px;
	}
}

/* Experience */

.experience-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--color-white);
	padding: 4rem 0 8rem 0;
}

.experience-item {
	text-align: center;
}

.experience-item h2 {
	font-size: 3.2rem;
	line-height: 4rem;
	letter-spacing: -1px;
	margin-bottom: 0;
}

.experience-item p {
	font-size: 1.6rem;
	line-height: 2.6rem;
	color: var(--color-Grey);
	margin-top: 0;
	padding-top: 1rem;
}

@media (min-width: 768px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		justify-items: left;
	}

	.experience-item {
		text-align: left;
	}

	.experience-item h2 {
		font-size: 4.8rem;
		line-height: 5.6rem;
		letter-spacing: -1.5px;
	}
}

@media (min-width: 1440px) {
	.experience-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		justify-items: left;
	}

	.experience-item {
		text-align: left;
	}

	.experience-item h2 {
		font-size: 4.8rem;
		line-height: 5.6rem;
		letter-spacing: -1.5px;
	}
}

/* Projects */

.projects.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--color-white);
	padding: 4rem 0 8rem 0;
}

.projects-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8rem 0 4rem 0;
}

.projects-header h2 {
	margin: 0;
}

.project-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 9rem;
}

.project-image {
	max-width: 45rem;
	margin-bottom: 2.4rem;
}

.project-image img {
	width: 100%;
	object-fit: cover;
}

.project-title h3 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: 1.4px;
	color: var(--color-white);
	margin: 0;
	font-weight: 700;
}

.project-skills {
	display: inline-flex;
}

.project-skills p {
	color: var(--color-Grey);
	padding: 0 1.8rem 0 0;
	margin: 1rem 0;
}

.project-buttons {
	display: inline-flex;
}

.project-buttons .card-button {
	margin-right: 3rem;
}

@media (min-width: 768px) {
	.projects-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 2rem;
	}
}

@media (min-width: 1440px) {
	.project-image {
		max-width: 540px;
	}
}

/* Contact */
.contact-container {
	background-color: var(--color-Dark-Grey);
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 5rem;
	max-width: 1140px;
	margin: 0 auto;
	padding: 5rem 3rem 0 3rem;
	height: 70rem;
}
.contact-header h2 {
	margin: 0;
}

.contact-container p {
	color: var(--color-Grey);
	font-size: 1.6rem;
	line-height: 2.6rem;
}

form {
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 9rem;
	border-bottom: 1px solid var(--color-Grey);
}

form input,
textarea {
	color: var(--color-Grey);
	background-color: #24242400;
	border: 0;
	border-bottom: 1px solid var(--color-Grey);
	padding-bottom: 1.6rem;
	padding-left: 2.4rem;
	margin-bottom: 3.4rem;
}

form input:focus,
textarea:focus {
	color: var(--color-white);
	padding: 2rem;
}

textarea {
	resize: vertical;
	min-height: 120px;
}

.contact-button {
	align-self: flex-end;
}

.footer {
	height: 30rem;
}

@media (min-width: 768px) {
	.contact-container {
		max-width: 45rem;
		border-bottom: 1px solid var(--color-Grey);
	}

	form {
		border: 0;
	}
}

@media (min-width: 1440px) {
	.contact-container {
		max-width: 1110px;
		display: grid;
		grid-template-columns: repeat(2, 45rem);
		grid-gap: 22rem;
		align-items: start;
		padding-top: 5rem;
		text-align: left;
	}

	.contact-header {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}

	form {
		padding-top: 0;
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		border: 0;
	}
}
