<div class="container-dark-grey">
	<div class="contact-container">
		<div class="contact-header">
			<h2>Contact</h2>
			<p>
				I would love to hear about your project and how I could help.
				Please dill in the form, and I'll get back to you as soon as
				possible.
			</p>
		</div>
		<form action="">
			<input type="text" name="name" id="name" placeholder="NAME" />
			<input type="email" name="email" id="email" placeholder="EMAIL" />
			<textarea
				name="message"
				id="message"
				rows="3"
				placeholder="MESSAGE"
			></textarea>
			<button class="card-button contact-button">
				<a href="">SEND MESSAGE</a>
			</button>
		</form>
	</div>
	<nav class="navbar-container container footer">
		<div class="navbar-logo">
			<h3>adamkeyes</h3>
		</div>
		<div>
			<span class="icon-container">
				<svg class="icon">
					<use
						xlink:href="./assets/images/sprite.svg#icon-github"
					></use>
				</svg>
			</span>
			<span class="icon-container">
				<svg class="icon">
					<use
						xlink:href="./assets/images/sprite.svg#icon-frontend-mentor"
					></use>
				</svg>
			</span>
			<span class="icon-container">
				<svg class="icon">
					<use
						xlink:href="./assets/images/sprite.svg#icon-linkedin"
					></use>
				</svg>
			</span>
			<span class="icon-container">
				<svg class="icon">
					<use
						xlink:href="./assets/images/sprite.svg#icon-twitter"
					></use>
				</svg>
			</span>
		</div>
	</nav>
</div>
