<section class="container">
	<div class="experience-container grid">
		<div class="experience-item">
			<h2>HTML</h2>
			<p>4 Years Experience</p>
		</div>
		<div class="experience-item">
			<h2>CSS</h2>
			<p>4 Years Experience</p>
		</div>
		<div class="experience-item">
			<h2>JavaScript</h2>
			<p>4 Years Experience</p>
		</div>
		<div class="experience-item">
			<h2>Accessibility</h2>
			<p>4 Years Experience</p>
		</div>
		<div class="experience-item">
			<h2>React</h2>
			<p>3 Years Experience</p>
		</div>
		<div class="experience-item">
			<h2>Sass</h2>
			<p>3 Years Experience</p>
		</div>
	</div>
</section>
