<div class="image-container">
	<picture>
		<source
			media="(min-width: 1440px)"
			srcset="./assets/images/image-profile-desktop.webp"
		/>
		<source media="(min-width: 768px)"
		srcset="./assets/images/image-profile-tablet.webp"" />
		<img src="./assets/images/image-profile-mobile.webp" alt="" />
	</picture>
</div>
<div class="hero__container">
	<div class="hero__card">
		<h1 class="card-welcome">
			Nice to meet you! <br />
			I’m <span class="card-name">Adam Keyes</span>.
		</h1>
		<p class="card-description">
			Based in the UK, I’m a front-end developer passionate about building
			accessible web apps that users love.
		</p>
		<button class="card-button">Contact me</button>
	</div>
</div>
