<div class="container">
	<nav class="navbar-container container">
		<div class="navbar-logo">
			<h3>adamkeyes</h3>
		</div>
		<div>
			<ul class="navbar__links">
				<li>
					<a href="#github"
						><img
							src="./assets/images/icon-github.svg"
							alt="github"
					/></a>
				</li>
				<li>
					<a href="#frontendmentor"
						><img
							src="./assets/images/icon-frontend-mentor.svg"
							alt="frontendmentor"
					/></a>
				</li>
				<li>
					<a href="#linkedin"
						><img
							src="./assets/images/icon-linkedin.svg"
							alt="linkedin"
					/></a>
				</li>
				<li>
					<a href="#twitter"
						><img
							src="./assets/images/icon-twitter.svg"
							alt="twitter"
					/></a>
				</li>
			</ul>
		</div>
	</nav>
</div>
