<nav class="navbar-container container">
	<div class="navbar-logo">
		<h3>adamkeyes</h3>
	</div>
	<div>
		<span class="icon-container">
			<svg class="icon">
				<use xlink:href="./assets/images/sprite.svg#icon-github"></use>
			</svg>
		</span>
		<span class="icon-container">
			<svg class="icon">
				<use
					xlink:href="./assets/images/sprite.svg#icon-frontend-mentor"
				></use>
			</svg>
		</span>
		<span class="icon-container">
			<svg class="icon">
				<use
					xlink:href="./assets/images/sprite.svg#icon-linkedin"
				></use>
			</svg>
		</span>
		<span class="icon-container">
			<svg class="icon">
				<use xlink:href="./assets/images/sprite.svg#icon-twitter"></use>
			</svg>
		</span>
	</div>
</nav>
