<section class="container">
	<div class="projects-header">
		<h2>Projects</h2>
		<button class="card-button">
			<a href="">Contact me</a>
		</button>
	</div>
	<div class="projects-container">
		<!-- project 1 -->
		<div class="project-item">
			<div class="project-image">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="./assets/images/thumbnail-project-1-large.webp"
					/>

					<img
						src="./assets/images/thumbnail-project-1-small.webp"
						alt=""
					/>
				</picture>
			</div>
			<div class="project-title">
				<h3>DESIGN PORTFOLIO</h3>
			</div>
			<div class="project-skills">
				<p>HTML</p>
				<p>CSS</p>
				<p>JAVASCRIPT</p>
			</div>

			<div class="project-buttons">
				<button class="card-button">
					<a href="">VIEW PROJECT</a>
				</button>
				<button class="card-button">
					<a href="">VIEW CODE</a>
				</button>
			</div>
		</div>

		<!-- project 2 -->
		<div class="project-item">
			<div class="project-image">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="./assets/images/thumbnail-project-2-large.webp"
					/>
					<img
						src="./assets/images/thumbnail-project-2-small.webp"
						alt=""
					/>
				</picture>
			</div>
			<div class="project-title">
				<h3>E-LEARNING LANDING PAGE</h3>
			</div>
			<div class="project-skills">
				<p>HTML</p>
				<p>CSS</p>
			</div>
			<div class="project-buttons">
				<button class="card-button">
					<a href="">VIEW PROJECT</a>
				</button>
				<button class="card-button">
					<a href="">VIEW CODE</a>
				</button>
			</div>
		</div>

		<!-- project 3 -->
		<div class="project-item">
			<div class="project-image">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="./assets/images/thumbnail-project-3-large.webp"
					/>
					<img
						src="./assets/images/thumbnail-project-3-small.webp"
						alt=""
					/>
				</picture>
			</div>
			<div class="project-title">
				<h3>TODO WEB APP</h3>
			</div>
			<div class="project-skills">
				<p>HTML</p>
				<p>CSS</p>
				<p>JAVASCRIPT</p>
			</div>
			<div class="project-buttons">
				<button class="card-button">
					<a href="">VIEW PROJECT</a>
				</button>
				<button class="card-button">
					<a href="">VIEW CODE</a>
				</button>
			</div>
		</div>

		<!-- project 4 -->
		<div class="project-item">
			<div class="project-image">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="./assets/images/thumbnail-project-4-large.webp"
					/>
					<img
						src="./assets/images/thumbnail-project-4-small.webp"
						alt=""
					/>
				</picture>
			</div>
			<div class="project-title">
				<h3>ENTERTAINMENT WEB APP</h3>
			</div>
			<div class="project-skills">
				<p>HTML</p>
				<p>CSS</p>
				<p>JAVASCRIPT</p>
			</div>
			<div class="project-buttons">
				<button class="card-button">
					<a href="">VIEW PROJECT</a>
				</button>
				<button class="card-button">
					<a href="">VIEW CODE</a>
				</button>
			</div>
		</div>

		<!-- project 5 -->
		<div class="project-item">
			<div class="project-image">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="./assets/images/thumbnail-project-5-large.webp"
					/>
					<img
						src="./assets/images/thumbnail-project-5-small.webp"
						alt=""
					/>
				</picture>
			</div>
			<div class="project-title">
				<h3>MEMORY GAME</h3>
			</div>
			<div class="project-skills">
				<p>HTML</p>
				<p>CSS</p>
			</div>
			<div class="project-buttons">
				<button class="card-button">
					<a href="">VIEW PROJECT</a>
				</button>
				<button class="card-button">
					<a href="">VIEW CODE</a>
				</button>
			</div>
		</div>

		<!-- project 6 -->
		<div class="project-item">
			<div class="project-image">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="./assets/images/thumbnail-project-6-large.webp"
					/>
					<img
						src="./assets/images/thumbnail-project-6-small.webp"
						alt=""
					/>
				</picture>
			</div>
			<div class="project-title">
				<h3>ART GALLERY SHOWCASE</h3>
			</div>
			<div class="project-skills">
				<p>HTML</p>
				<p>CSS</p>
				<p>JAVASCRIPT</p>
			</div>
			<div class="project-buttons">
				<button class="card-button">
					<a href="">VIEW PROJECT</a>
				</button>
				<button class="card-button">
					<a href="">VIEW CODE</a>
				</button>
			</div>
		</div>
	</div>
</section>
